:host {
  margin-right: 16px;
}

md-icon {
  position: relative;
  top: 8px;
}

.spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}