.filler {
  flex: 1;
}

.header-icon {
  position: relative;
  top: 20px;
}

@media (max-width: 640px) {
  .header-icon {
    width: 75px;
    top: 0;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

app-basket-item {
  display: inline-grid;
}
