<md-toolbar>
  <img class="header-icon" src="/assets/basket_logo.png" />
  <span class="filler"></span>
  <app-add-item></app-add-item>
  <span class="user-name"><md-icon>person</md-icon> {{user}}</span>
</md-toolbar>
<div style="text-align:center">
  <h1>
    Cast your votes below:
  </h1>
  <ul>
    <md-progress-spinner mode="indeterminate" *ngIf="!(items|async)"></md-progress-spinner>
    <div class="grid">
      <app-basket-item [item]="item" *ngFor="let item of items|async">
      </app-basket-item>
    </div>
  </ul>
</div>
