.filler {
  flex: 1;
}

.header-icon {
  position: relative;
  top: 20px;
}

.sort-box {
  margin: 8px 32px 0 0;
  float: right;
}

@media (max-width: 640px) {
  .header-icon {
    width: 75px;
    top: 0;
  }

  app-add-item {
    display: none;
  }
}

.grid {
  display: grid;
  direction: rtl;
  grid-template-columns: repeat(4, 1fr);
}

app-basket-item {
  display: inline-grid;
}


