.filler {
  flex: 1;
}

.header-icon {
  position: relative;
  top: 38px;
  transform: scale(0.8);
}

.sort-box {
  margin: 8px 32px 0 0;
  float: right;
}

@media (max-width: 640px) {
  .header-icon {
    width: 75px;
    top: 0;
  }

  app-add-item {
    display: none;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  direction: rtl;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
}

app-basket-item {
  min-width: 360px;
  max-width: 400px;
  width: 25%;
}


