<mat-toolbar>
  <img class="header-icon" src="/assets/basket_logo.png" />
  <span class="filler"></span>
  <app-add-item></app-add-item>
  <span class="user-name"><mat-icon>person</mat-icon> {{user}}</span>
</mat-toolbar>
<div style="text-align:center">

  <div style="display:flex">
    <h1 style="flex: 1">
      Cast your votes below:
    </h1>

    <mat-form-field class="sort-box">
      <mat-select placeholder="Sort" [(ngModel)]="sort">
        <mat-option [value]="SortType.time">Time added</mat-option>
        <mat-option [value]="SortType.votes">Votes</mat-option>
        <mat-option [value]="SortType.name">Name</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <ul>
    <mat-progress-spinner mode="indeterminate" *ngIf="!(items|async)"></mat-progress-spinner>
    <div class="grid">
      <app-basket-item [item]="item" *ngFor="let item of items|async; trackBy:trackItem">
      </app-basket-item>
    </div>
  </ul>
</div>
