.basket-item {
  margin: 0 40px 40px 0;
}

h3 {
  font-size: 20px;
  margin: 12px 0;
  font-weight: normal;
}

.heart {
  background-image: url('../../assets/heart.png');
  background-repeat: no-repeat;
  position: relative;
  margin: 0 5px;
  width: 39px;
  height: 36px;
  display: inline-block;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s linear;
    width: 39px;
    height: 36px;
    display: inline-block;
    background-image: url('../../assets/heart_red.png');
  }
}

.heart.selected {
  &:before {
    opacity: 1;
  }
}

.votes-count {
  margin-left: 10px;
  display: inline-block;
}

.mat-card > .buttons {
  padding: 0;
  margin-bottom: -8px;
  display: flex;
  justify-content: space-between;
  height: 48px;
}

.buttons /deep/ .mat-button:hover .mat-button-focus-overlay {
  opacity: 0;
}

.votes-count { 
  font-size: 18px;
}

.voter-list {
  display: flex;
  align-items: baseline;
  padding: 0 16px 0 0;
}

.voter {
  max-height: 48px;
  max-width: 48px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 4px;
}

.comment-box {
  margin-top: 16px;
}
