.basket-item {
  margin: 0 40px 40px 0;
}

.heart {
  background-image: url('../../assets/heart.png');
  background-repeat: no-repeat;
  width: 39px;
  height: 36px;
  display: inline-block;
}

.votes-count {
  margin-left: 10px;
  display: inline-block;
}

.buttons {
  text-align-last: left;
}

.buttons /deep/ .mat-button:hover .mat-button-focus-overlay {
  opacity: 0;
}
